<div class="row">
  <div class="col-sm-offset-5 col-sm-3">
    <div>
        <h1>Register</h1>
    </div>
    <form>
      <div class="form-group">
        <label class="sr-only" for="inputUsername">Username</label>
        <input
          class="form-control"
          type="text"
          id="inputUsername"
          placeholder="Username"
          ng-model="user.username"
        />
      </div>
        <div class="form-group">
            <label class="sr-only" for="inputPassword">Email</label>
            <input
            class="form-control"
            type="email"
            id="inputEmail"
            placeholder="Email"
            ng-model="user.email"
        />
        </div>
      <div class="form-group">
        <label class="sr-only" for="inputPassword">Password</label>
        <input
          class="form-control"
          type="password"
          id="inputPassword"
          placeholder="Password"
          ng-model="user.password"
        />
      </div>
      <div class="form-group">
        <label class="sr-only" for="inputPassword">Confirm Password</label>
        <input
          class="form-control"
          type="password"
          id="inputPassword"
          placeholder="Confirm Password"
          ng-model="user.passwordconfirm"
        />
      </div>      
      <button
        type="submit"
        class="btn btn-primary btn-block"
        ng-click="register()"
      >
        <span class="glyphicon glyphicon-ok"></span> Register
      </button>
    </form>
  </div>
</div>